[Unit]
Description=Varnish Cache, a high-performance HTTP accelerator
After=network-online.target nss-lookup.target

[Service]
Type=forking
KillMode=process

PIDFile=/var/run/varnish.pid

# Maximum number of open files (for ulimit -n)
LimitNOFILE=131072

# Locked shared memory - should suffice to lock the shared memory log
# (varnishd -l argument)
# Default log size is 80MB vsl + 1M vsm + header -> 82MB
# unit is bytes
LimitMEMLOCK=85983232

# Enable this to avoid "fork failed" on reload.
TasksMax=infinity

# Maximum size of the corefile.
LimitCORE=infinity

# TODO - needed?
# EnvironmentFile=/etc/varnish/varnish.params

ExecStart=/usr/sbin/varnishd \
	  -a :80 \
	  -f /etc/varnish/default.vcl \
	  -P /var/run/varnish.pid \
	  -s malloc,256m

ExecReload=/usr/sbin/varnishreload

# TODO - what for exactly?
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
